<!DOCTYPE html>
<html>
  <head>
    <title>Pet Adoption Center</title>
  </head>
  <body>
  <form action="/new" method="post">
    <h1>Please tell us about your dog</h1>
    <div>
      <label for="name">Puppy Name:</label>
      <input name="name" type="text" id="name">
    </div>
    <div>
      <label for="breed">Puppy Breed:</label>
      <input name="breed" type="text" id="breed">
    </div>
    <div>
      <label for="age">Puppy Age:</label>
      <input name="age" type="text" id="age">
    </div>    
    <input type="submit" id="submit">
  </form>

  </body>
</html>