<!DOCTYPE html>
<html>
    <head>
        <title>Pet Adoption Center</title>
    </head>
    <body>
        <h1>Welcome to the Pet Adoption Center</h1>
        <a href="/new">Click Here To List A Puppy</a> 
    </body>
</html>